# Ignore node_modules (where all the dependencies are installed)
node_modules/
# Ignore dependencies lock files
yarn.lock
package-lock.json
# Ignore build output (where the transpiled and bundled code goes)
build/
dist/
# Local Netlify folder
.netlify
